.hero-section{
  background-color: black;
}
.container {
    position: relative;
    text-align: center;
}
video {
    object-fit: fill;
    opacity: 80%;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.project-section{
  background-color: blueviolet;
}
.connect-section{
  background-color: lightblue;
  height: 400px;
}