.container {
    position: relative;
    text-align: center;
  }
  video{
    width: 100%vw;
  }
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.card-img-top {
    width: 50%;
    text-align: center;
}
.card{
    display:flex ;
    align-items: center;
    width: 25%;
}
.card-deck{
    display: flex;
    flex-direction: row;
}
.project-section{
    background-color: grey;
}
.contact-section{
    background-color: lightblue;
    height: 400px;
}